<!-- start: Content -->
<ul class="breadcrumb">
  <li>
    <i class="icon-home"></i>
    <a [routerLink]="['/admin']">Home</a>
    <i class="icon-angle-right"></i>
  </li>
  <li><a [routerLink]="['/admin/users']">User</a></li>
</ul>

<div class="row-fluid sortable">
  <div class="box span12">
    <div class="box-header">
      <h2>
        <i class="fa fa-align-justify" style="color:white"></i
          ><span class="break"></span>USER DATABASE
      </h2>

      <div class="box-icon">
        <a href="#" class="btn-setting"
        ><i class="fa fa-wrench" style="color:white"></i></a>
        <a href="#" class="btn-minimize" style="color:white"
        ><i class="fa fa-chevron-up" style="color:white"></i
      ></a>
      <a href="#" class="btn-close"
        ><i class="fa fa-remove" style="color:white"></i
      ></a>
      </div>
    </div>

    <div class="box-content">
      <button mat-raised-button color="warn" (click)="openDialogAddMyUsers()">
        +Add New
      </button>
      <br />
      <hr />
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef>Username</th>
          <td mat-cell *matCellDef="let element">{{ element.username }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let element">{{ element.role }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element" class="center">
            <a
              class="btn btn-info"
              href="javascript:;"
              
              *ngIf="element.role == 'USER'"
            >
            <i class="fa fa-edit" style="color:white"></i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 20, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <!--/span-->
</div>
<!--/row-->
