<h2 mat-dialog-title>HOW TO USE - Main Functions</h2>
<mat-dialog-content class="mat-typography">
  <h3><strong>Register:</strong></h3>
  <p> - You can register as a member of the site to buy books. To register, you need to type username (username is unique,
    and have not been used ), password (password must be at least 6 characters), email (unique, we need this email 
    to reset password if you forgot). After register successfully, a confirmation email will be sent to the email address you
    provided to us.
  </p>
  <h3><strong>Sign In:</strong></h3>
  <p> - To use the site fully, you should sign in by using your username and password when register.
  </p>
  <h3><strong>Forgot password:</strong></h3>
  <p> - If you don't remember your password, please click to the button Forgot password and type your email address. An email with
    the temporary password will be sent. You can use this to sign in and should change to new password in My Account page.
  </p>

  <h3><strong>Forgot password:</strong></h3>
  <p> - If you don't remember your password, please click to the button Forgot password and type your email address. An email with
    the temporary password will be sent. You can use this to sign in and should change to new password in My Account page.
  </p>

  <h3><strong>Find Books:</strong></h3>
  <p> You can find your books you want to buy by using our search box and search by 5 categories: Title, Author
    ,ISBN, Publisher or search All.
  </p>

  <h3><strong>Find by Category:</strong></h3>
  <p> You can find your books you want to buy by click on each category. It will list all of the books in the category
  </p>

  <h3><strong>Others:</strong></h3>
  <p> You can click ADD TO CART and follow the steps to order books
  </p>
  <p> You can add your books to your Favorite List to see later.
  </p>
  <p> You can write your review on each book but have to sign in first.
  </p>
  <p> You can reply to each comment
  </p>
  <p> You can like to each comment by clicking Like button.
  </p>
  <p> You can view who liked the post by hover your mouse over Like button.
  </p>

 

  
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onNoClick()">
        Thank you for reading!
    </button>
</mat-dialog-actions>