<div>
  <div id="footer2">
    <div class="carousel-section clearfix"></div>
    <div class="nl-signup clearfix">
      <div class="subscribe">
        <p>Subscribe now for coupons, newsletters, and more!</p>
        <form
          action="#"
          method="post"
          onsubmit="if (!window.__cfRLUnblockHandlers) return false; if(document.getElementById(&#39;nlEmailFooter&#39;).trim() = &#39;&#39;){return false;}else{return gtm_email_sign_up(&#39;sign up&#39;, &#39;footer&#39;);}"
        >
          <label for="nlEmailFooter" class="visuallyhidden"
            >Enter Your Email for Coupon</label
          >
          <input
            type="text"
            id="nlEmailFooter"
            class="subscribe-input"
            name="email"
            placeholder="Enter Your Email for a $5 Coupon"
          />
          <button
            type="submit"
            class="btn btn-main btn-lg"
            value="Sign Up"
            id="submit-newsletter"
            aria-label="sign up email"
          >
            Sign Up
          </button>
        </form>
      </div>
      <div class="social">
        <p>Let's Get Social</p>
        <a href="#" target="_blank" rel="noopener"
          ><img
            src="../../../assets/img/facebook-60.gif"
            alt="facebook footer"
            border="0"
        /></a>
        <a href="#" target="_blank" rel="noopener"
          ><img
            src="../../../assets/img/twitter-60.gif"
            alt="twitter footer"
            border="0"
        /></a>
        <a href="#" target="_blank" rel="noopener"
          ><img
            src="../../../assets/img/pintrest-60.gif"
            alt="pintrest footer"
            border="0"
        /></a>
        <a href="#" target="_blank" rel="noopener"
          ><img
            src="../../../assets/img/blog-60.gif"
            alt="alibris blog footer"
            border="0"
        /></a>
      </div>
    </div>
    <div
      style="background-color:black;color:white;text-align: center;height: 30px;"
    >
      2020
    </div>
    <br />
  </div>
  <!-- <p>
    <img src="../../../assets/img/spacer.gif" class="gra-minwidth" alt="" />
  </p> -->
</div>

<div>
  <script
    src="../../../assets/img/tagcontainer.js.download"
    type="text/javascript"
  ></script>
</div>
