<div class="bea-portal-theme-alibrisInvisible">
  <div class="bea-portal-book-primary">
    <div class="bea-portal-book-primary-content">
      <div class="bea-portal-theme-alibrisMain">
        <div class="bea-portal-book-invisible">
          <div class="bea-portal-book-content">
            <div class="bea-portal-theme-alibrisInvisible">
              <div id="bea-portal-book-primary" class="bea-portal-book-page">
                <div id="skip-main">
                  <table class="bea-portal-layout-grid" cellspacing="0">
                    <tbody>
                      <tr>
                        <td
                          class="bea-portal-layout-placeholder-container-singleColRightBorder"
                          width="100%"
                        >
                          <div class="bea-portal-layout-placeholder">
                            <table
                              class="bea-portal-layout-flow"
                              cellspacing="0"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    class="bea-portal-layout-placeholder-container"
                                    width="100%"
                                  >
                                    <div class="bea-portal-layout-placeholder">
                                      <div
                                        class="bea-portal-alert-window"
                                        width="100%"
                                      >
                                        <div
                                          class="bea-portal-alert-window-titlebar"
                                        >
                                          <div
                                            class="bea-portal-ie-table-buffer-div"
                                          >
                                            <table
                                              class="bea-portal-alert-window-titlebar-container"
                                              cellspacing="0"
                                            >
                                              <tbody>
                                                <tr>
                                                  <td
                                                    class="bea-portal-alert-window-titlebar-buttons"
                                                    nowrap="nowrap"
                                                  ></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                        <div
                                          class="bea-portal-alert-window-content"
                                        >
                                          <div id="home-container">
                                            <h1>
                                              Your Source of Books, Music &amp;
                                              Movies
                                            </h1>

                                            <div
                                              id="mw_hidden_content"
                                              style="display:none"
                                            >
                                              <div id="banner_imgs">
                                                <div>
                                                  <a
                                                    href="#"
                                                    ><img
                                                      data-src="/images/promos/red/bts/bts-2019-fall/bts_giftguide_banner_2019_fall.jpg"
                                                      alt="giftguide banner"
                                                  /></a>
                                                </div>
                                                <div>
                                                  <a
                                                    href="#"
                                                    ><img
                                                      data-src="/images/promos/red/homepage-slides/free_ship_hero.jpg"
                                                      alt="free shipping banner"
                                                  /></a>
                                                </div>
                                              </div>
                                            </div>

                                            <h2 class="tagline">
                                              The premier media marketplace
                                              connecting you to over 260 million
                                              books, movies, and albums from
                                              thousands of independent sellers
                                              worldwide.
                                            </h2>
                                            <div class="banner category">
                                              <h2>Shop By Category</h2>
                                            </div>
                                            <div class="featured-genres">
                                              <ul>
                                                <li>
                                                  <h3>Textbooks</h3>
                                                  <img
                                                    alt="textbooks"
                                                    src="../../../assets/img/homepage_textbooks_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>Fiction</h3>
                                                  <img
                                                    alt="Fiction"
                                                    src="../../../assets/img/homepage_fiction_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>Romance</h3>
                                                  <img
                                                    alt="Romance"
                                                    src="../../../assets/img/homepage_romance_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>
                                                    Business &amp; Finance
                                                  </h3>
                                                  <img
                                                    alt="Business Economics"
                                                    src="../../../assets/img/homepage_business_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>Cookbooks</h3>
                                                  <img
                                                    alt="Cooking"
                                                    src="../../../assets/img/homepage_cookbooks_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>Children's Books</h3>
                                                  <img
                                                    alt="Children"
                                                    src="../../../assets/img/homepage_childrens_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>Crafts Hobbies</h3>
                                                  <img
                                                    alt="Photography"
                                                    src="../../../assets/img/homepage_crafting_2019_holiday.jpg"
                                                  />
                                                </li>
                                                <li>
                                                  <h3>Mystery</h3>
                                                  <img
                                                    alt="Mystery"
                                                    src="../../../assets/img/homepage_mystery_2019_holiday.jpg"
                                                  />
                                                </li>
                                              </ul>
                                              <div class="clearfix"></div>
                                            </div>
                                          </div>
                                          <div class="clearfix"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
        <div class="bea-portal-theme-alibrisInvisible"></div>
      </div>
    </div>
  </div>
  <div class="bea-portal-theme-alibrisMain"></div>
</div>
