<div class="col-sm-9">
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      class="fillout-form"
    >
      <tbody>
        <tr class="header-footer text-center" style="font-size: 1.5em;">
          <td colspan="2">
            <h2><strong>Order History</strong></h2>
            <h5>Review your order</h5>
          </td>
        </tr>
  
        <tr>
          <td>
            <div class="col-md-12">
              <div class="row">
                
                    <div class="panel-group">
                        <div class="panel panel-default panel-faq" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <table class="table table-sm table-inverse">
                                    <thead>
                                        <tr>
                                            <th>Order Date</th>
                                            <th>Order Number</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of orderList">
                                            <td>
                                                <a class="pointer" href="javascript:;" (click)="onDisplayOrder(order)"><span
                                                 >{{order.orderDate}}</span></a>
                                            </td>
                                            <td>{{order.id}}</td>
                                            <td>{{order.orderTotal}}</td>
                                            <td>{{order.orderStatus}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="displayOrderDetail">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="text-center">
                                                <h2>Order Detail for purchase #<span>{{order.id}}</span></h2>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading"><strong>Billing Details</strong>
                                                        </div>
                                                        <div class="panel-body">
                                                            <span>{{order.orderBillingAddress.billingAddressName}}</span>
                                                            <br/>
                                                            <span>{{order.orderBillingAddress.billingAddressStreet}}</span>
                                                            <br/>
                                                            <span>{{order.orderBillingAddress.billingAddressCity}}</span>
                                                            <br/>
                                                            <span>{{order.orderBillingAddress.billingAddressState}}</span>
                                                            <br/>
                                                            <span>{{order.orderBillingAddress.billingAddressCountry}}</span>
                                                            <br/>
                                                            <span>{{order.orderBillingAddress.billingAddressZipcode}}</span>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading"><strong>Payment Information</strong>
                                                        </div>
                                                        <div class="panel-body">
                                                            <span>{{order.orderPayment.cardName}}</span>
                                                            <br/> Visa
                                                            <br/>
                                                            <span>{{order.orderPayment.cardNumber}}</span>
                                                            <br/>
                                                            <span>Exp Date:</span> <span>{{order.orderPayment.expiryDate}}</span>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="panel panel-default height">
                                                        <div class="panel-heading"><strong>Shipping Address</strong>
                                                        </div>
                                                        <div class="panel-body">
                                                            <span>{{order.orderShippingAddress.shippingAddressName}}</span>
                                                            <br/>
                                                            <span>{{order.orderShippingAddress.shippingAddressStreet}}</span>
                                                            <br/>
                                                            <span>{{order.orderShippingAddress.shippingAddressCity}}</span>
                                                            <br/>
                                                            <span>{{order.orderShippingAddress.shippingAddressState}}</span>
                                                            <br/>
                                                            <span>{{order.orderShippingAddress.shippingAddressCountry}}</span>
                                                            <br/>
                                                            <span>{{order.orderShippingAddress.shippingAddressZipcode}}</span>
                                                            <br/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="text-center"><strong>Order summary</strong></h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <td><strong>Item Name</strong></td>
                                                                    <td class="text-center"><strong>Item Price</strong></td>
                                                                    <td class="text-center"><strong>Item Quantity</strong>
                                                                    </td>
                                                                    <td class="text-right"><strong>Total</strong></td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let cartItem of order.cartItemList">
                                                                    <td>{{cartItem.book.title}}
                                                                    </td>
                                                                    <td class="text-center">{{cartItem.book.ourPrice}}
                                                                    </td>
                                                                    <td class="text-center">
                                                                        {{cartItem.qty}}
                                                                    </td>
                                                                    <td class="text-right">{{cartItem.subtotal}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="highrow"></td>
                                                                    <td class="highrow"></td>
                                                                    <td class="highrow text-center">
                                                                        <strong>Subtotal</strong></td>
                                                                    <td class="highrow text-right">{{order.orderTotal}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="emptyrow"></td>
                                                                    <td class="emptyrow"></td>
                                                                    <td class="emptyrow text-center"><strong>Tax</strong>
                                                                    </td>
                                                                    <td class="emptyrow text-right">{{order.orderTotal*0.06}}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="emptyrow"><i class="fa fa-barcode iconbig"></i></td>
                                                                    <td class="emptyrow"></td>
                                                                    <td class="emptyrow text-center"><strong>Total</strong>
                                                                    </td>
                                                                    <td class="emptyrow text-right">{{order.orderTotal*1.06}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
              </div>
              <!-- End row -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  