<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
  <div class="nav-collapse sidebar-nav">
    <ul class="nav nav-tabs nav-stacked main-menu">
      <li>
        <a [routerLink]="['/admin']"
          ><i class="icon-bar-chart"></i
          ><span class="hidden-tablet"> Dashboard</span></a
        >
      </li>
      <li>
        <a [routerLink]="['/admin/cates']"
          ><i class="icon-envelope"></i
          ><span class="hidden-tablet"> Category</span></a
        >
      </li>
      <li>
        <a [routerLink]="['/admin/books']"
          ><i class="icon-tasks"></i><span class="hidden-tablet"> Book</span></a
        >
      </li>
      <li>
        <a [routerLink]="['/admin/users']"
          ><i class="icon-eye-open"></i
          ><span class="hidden-tablet"> User</span></a
        >
      </li>
      <li>
        <a [routerLink]="['/admin/orders']"
          ><i class="icon-dashboard"></i
          ><span class="hidden-tablet"> Order</span></a
        >
      </li>
    </ul>
  </div>
</div>
<!-- end: Main Menu -->
